header{
  background-image: url("https://preview.free3d.com/img/2017/04/1871869170111481667/92bruiwo-900.jpg");
  height: 50vh;
  background-size: cover;
  padding-top: 18rem;

}

.headerForm{
    margin-right: 20vw;
}